header{
    width: 100%;
    height: 28vw;
    background-color:  rgb(95, 201, 231);
    border-radius:  0px 0px 200px 200px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 50%;
    background-image: url("./img/uffnid.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.nav1 {
 display: flex;
 justify-content: space-between;
 background-color: rgba(3, 3, 3, 0);
 width: 100%;
 height: 10em;
 border-radius: 0px 0px 70px 70px;
 flex-wrap: wrap;
 
 
 

}

.sec1 {
 display: flex;
 justify-content:start;
 align-items: center;
 flex-wrap: wrap;
 min-height: max-content;    
 width: 40%;



}

.sec2 {
 width: 60%;
 
 
}
.sec2 ul{
 list-style: none;
}
.sec2 ul li {
 display: inline-flex;
 justify-content: space-between;
 align-content: flex-start;
 margin-top:2% ;
 
}
.sec2 ul li a{
    margin-top: 55%;
    margin: 1.5em;
    text-decoration: none;
    font-size: 110%;
    font-family: sans-serif;
    color:  rgb(255, 255, 255);
    font-style: inherit;
}
.nav2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    
    background-color: rgba(70, 119, 162, 0);
}
.nav2 ul{
     display: flex;
     justify-content: space-between;
}
.nav2 ul li{
       display: inline-flex;
       justify-content: space-between;
       padding: 2%;
       margin-top: 5%;
       text-decoration: none;
       list-style: none;



}
.nav2 ul li a{
      font-size: 120%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.div1{
      width: 90vw;
      height: 70vw;
      background-color: rgba(149, 111, 61, 0);
      display: flex;
}
.sect{
      width: 50%;
      height: 70%;
      background-color: rgba(222, 184, 135, 0);
      display: flex;
      justify-content: center;
      align-items: center;
}
.div1sect{
      width: 100%;
      height: 100%;  
      background-color: rgba(220, 253, 253, 0.56);
      display: flex;
      justify-content: center;
      margin-top: 10%;
      margin-left: 15%;
      border-radius: 40px;

}
.div1sect ul{
      list-style: none;
}
.sect2{
     width: 50%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0);
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     


}
.jo{
    width: 150%;
    height: 80%;
    background-color: rgba(0, 0, 255, 0);
}
.divcansado{
       width: 100%;
       height: 60%;


}
.tutu{
    width: 100%;
    height: 40%;
}
.tutu li input{
     padding: 10%;
     border-radius: 40px;
     margin: 15%;

}
.navi{
    width: 150%;
    height: 40;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0) ;
    margin-top: 10%;
    
}
.tutu li{
    list-style:georgian;
    color: aliceblue;
     
}
.futer{
    width: 100vw;
    height: 10vw;
    background-color: rgb(145, 169, 245);
    border-radius: 150px 150px 0px 0px;
    display: flex;
    justify-content: center;
    transition: 0.6s;
    flex-wrap: wrap;


}
.futer p{
     margin-top: 1%;
     margin: 1%;
}

.futer a{
  margin-top: 1%;
  margin: 1%;
  transition: 0.5s;
  color: yellowgreen;

}
.futer a:hover{
   color: rgb(255, 5, 5);

}

.futer:hover{
    background-color:rgb(59, 16, 118);
    color: aliceblue;
    
}